<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Don't be a movie moron</title>
</head>
<body>
    <h1>{{ movie_recommendation.title }} | {{ movie_recommendation.year }}</h1>
    {% for recommendation in recommendations %}
      <li>{{recommendation.title}} | {{ recommendation.year }}</li>
    {% endfor %}

</body>
</html>